---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/6029725594066?access_token=DUMMY_TOKEN&fields=id,account_id,objective,name,ads,status,buying_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"d3a03aaae55a289df4b18a2c88da73df9fccda22"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725594066","account_id":"367106653","objective":"NONE","name":"bloody
        campaign","ads":{"data":[{"id":"6029725596866"}],"paging":{"cursors":{"before":"NjAyOTcyNTU5Njg2NgZDZD","after":"NjAyOTcyNTU5Njg2NgZDZD"}}},"status":"PAUSED","buying_type":"AUCTION"}'
  recorded_at: Thu, 10 Sep 2015 09:47:28 GMT
recorded_with: VCR 2.3.0
