---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6004497037951?access_token=AAAEvJ5vzhl8BAPJfh51jolSxTzQCyIfLvJ1ZAVZCfjDHssTLpyYaIK3rqTeKvYBrydUeGtvA9DZAquQZAuoVZB6we8H9DUD9R6iE0yKluXAZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"cf5de87fee9deae105c9ceb88ea2e695faef269b"'
    body:
      encoding: US-ASCII
      string: ! '{"account_id":"10150585630710217","campaign_id":6004497037951,"name":"Compare
        Gym Hero friends and public","campaign_status":1,"lifetime_budget":6000,"daily_imps":0,"id":"6004497037951","start_time":"2012-01-30T18:08:29+0000","end_time":"2012-03-06T01:00:00+0000","updated_time":"2012-02-13T13:47:11+0000","created_time":"2012-01-30T15:47:52+0000"}'
  recorded_at: Fri, 03 Aug 2012 09:53:02 GMT
- request:
    method: get
    uri: https://graph.facebook.com/600449703795?access_token=AAAEvJ5vzhl8BAPJfh51jolSxTzQCyIfLvJ1ZAVZCfjDHssTLpyYaIK3rqTeKvYBrydUeGtvA9DZAquQZAuoVZB6we8H9DUD9R6iE0yKluXAZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request."
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Unsupported get request.","type":"GraphMethodException","code":100}}'
  recorded_at: Fri, 03 Aug 2012 09:53:19 GMT
recorded_with: VCR 2.2.4
