---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6010889111951?access_token=CAAEvJ5vzhl8BAIVQqWQ3rAE1O5XzoJtd8gVN2lxAzj4uluseUzC0yArPZBBIS93QM8u97oFL7dF2LDNfmGEcRk5vPN8O6NdqceZCqFFtZCi1Us7xLOAsClTksNC1owKOxJiy09aDWxspcoJbkwb3ZCqK1o9qtK5EK09bHZAdgPsFIh4ILyRuCgAm4Xgyc1OgZD&fields=account_id,ad_id,adgroup_id,adgroup_status,bid_type,campaign_id,conversion_specs,created_time,creative_ids,id,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,name,targeting,tracking_specs,updated_time,view_tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "invalid_request" "(#100) Unknown fields: ad_id,adgroup_id,adgroup_status,bid_type,conversion_specs,creative_ids,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,targeting,tracking_specs,view_tags."'
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"(#100) Unknown fields: ad_id,adgroup_id,adgroup_status,bid_type,conversion_specs,creative_ids,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,targeting,tracking_specs,view_tags.","type":"OAuthException","code":100}}'
  recorded_at: Thu, 12 Sep 2013 11:58:07 GMT
recorded_with: VCR 2.3.0
