---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/6029725594066?access_token=DUMMY_TOKEN&fields=id,account_id,adgroup_review_feedback,adgroup_status,bid_amount,campaign_id,campaign_group_id,created_time,creative,failed_delivery_checks,name,targeting,tracking_specs,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Tried accessing nonexisting
        field (adgroup_review_feedback) on node type (AdCampaignGroup)"
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"(#100) Tried accessing nonexisting field (adgroup_review_feedback)
        on node type (AdCampaignGroup)","type":"OAuthException","code":100}}'
  recorded_at: Thu, 10 Sep 2015 09:47:28 GMT
recorded_with: VCR 2.3.0
