---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/6024300271066?access_token=FAKEACCESSTOKEN&fields=id,account_id,objective,name,adgroups,campaign_group_status,buying_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"9801ec532ea2dc636715160659a83fef119221fe"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6024300271066","account_id":"367106653","objective":"NONE","name":"bloody
        campaign","adgroups":{"data":[{"id":"6024300273866"}],"paging":{"cursors":{"before":"NjAyNDMwMDI3Mzg2Ng==","after":"NjAyNDMwMDI3Mzg2Ng=="}}},"campaign_group_status":"PAUSED","buying_type":"AUCTION"}'
  recorded_at: Wed, 15 Apr 2015 08:31:56 GMT
recorded_with: VCR 2.3.0
