---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/6024300271066?access_token=FAKEACCESSTOKEN&fields=id,account_id,conversion_specs,campaign_id,campaign_group_id,created_time,creative_ids,failed_delivery_checks,name,tracking_specs,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) Tried accessing nonexisting
        field (conversion_specs) on node type (AdCampaignGroup)"
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"(#100) Tried accessing nonexisting field (conversion_specs)
        on node type (AdCampaignGroup)","type":"OAuthException","code":100}}'
  recorded_at: Wed, 15 Apr 2015 08:31:57 GMT
recorded_with: VCR 2.3.0
