---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6010889111951?access_token=CAAEvJ5vzhl8BAH8aCPOx0Ft9uNB147TF8weJ8hK0g7YVDRWU4eEih7tEKdJgmfk0vABZClZACJbEzyhSMbiShL6RpsfkZASfX1C9nv1AlFvjJajflqkyYZAlpE2edT0FJHjdh4NFg0ZCt0sBgq0kZABtKsjuU18aMURLE7rjKHR4X8NkXBUafg1T4uZARRNqboZD&fields=account_id,ad_id,adgroup_id,adgroup_status,bid_type,campaign_id,conversion_specs,created_time,creative_ids,id,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,name,targeting,tracking_specs,updated_time,view_tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "invalid_request" "(#100) Unknown fields: ad_id,adgroup_id,adgroup_status,bid_type,conversion_specs,creative_ids,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,targeting,tracking_specs,view_tags."'
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"(#100) Unknown fields: ad_id,adgroup_id,adgroup_status,bid_type,conversion_specs,creative_ids,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,targeting,tracking_specs,view_tags.","type":"OAuthException","code":100}}'
  recorded_at: Thu, 12 Sep 2013 12:05:22 GMT
recorded_with: VCR 2.3.0
