---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?access_token=CAAEvJ5vzhl8BAPGZCZCPL4FxryEHXGxPCuCGeqe3PEWIjhIvJ00HB8PPpokFmUkemvmEUHirqdNMc7zIDLSTVnX6jTQjAgSlzcYrAYJRQ32fr6RM5ZAnKPdgFEwN5tgvswatXZAI4vu7ZBAQexRl9MU0CpwW7JDDBZAGo5XDrCKrBxkUUWJUvh&q=disney&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - ! '"1c0c8539cdf9faf464fc90b35f9f7b3a33f285f0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"The Walt Disney Company","id":6003270522085,"audience_size":146886870,"path":[],"description":null},{"name":"Walt
        Disney","id":6003284678611,"audience_size":70060110,"path":[],"description":null},{"name":"Walt
        Disney Pictures","id":6003050377616,"audience_size":76368720,"path":[],"description":null},{"name":"Disney
        Channel","id":6003327130854,"audience_size":55643300,"path":[],"description":null},{"name":"Walt
        Disney Parks and Resorts","id":6003318701218,"audience_size":55636630,"path":[],"description":null},{"name":"Disney
        on Ice","id":6003235403611,"audience_size":45812600,"path":[],"description":null},{"name":"Disney.com","id":6003413951089,"audience_size":45309160,"path":[],"description":null},{"name":"The
        Walt Disney Studios (division)","id":6007022518262,"audience_size":45772080,"path":[],"description":null}]}'
  recorded_at: Fri, 12 Dec 2014 10:53:19 GMT
recorded_with: VCR 2.3.0
