---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/search?access_token=FAKEACCESSTOKEN&q=disney&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"c96808895690b89fe50155bf0d601fe15764b86c"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6003270522085","name":"The Walt Disney Company","audience_size":157850860,"path":[],"description":null},{"id":"6003284678611","name":"Walt
        Disney","audience_size":71107060,"path":[],"description":null},{"id":"6003050377616","name":"Walt
        Disney Pictures","audience_size":73976190,"path":[],"description":null},{"id":"6003212182247","name":"Disney
        Channel (Latin America)","audience_size":51049290,"path":[],"description":null},{"id":"6003663755307","name":"disney","audience_size":42628330,"path":[],"description":null},{"id":"6003327130854","name":"Disney
        Channel","audience_size":59441180,"path":[],"description":null},{"id":"6003235403611","name":"Disney
        on Ice","audience_size":43601380,"path":[],"description":null},{"id":"6007022518262","name":"The
        Walt Disney Studios (division)","audience_size":53979150,"path":[],"description":null}]}'
  recorded_at: Wed, 15 Apr 2015 08:31:46 GMT
recorded_with: VCR 2.3.0
