---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?access_token=CAAEvJ5vzhl8BAPGZCZCPL4FxryEHXGxPCuCGeqe3PEWIjhIvJ00HB8PPpokFmUkemvmEUHirqdNMc7zIDLSTVnX6jTQjAgSlzcYrAYJRQ32fr6RM5ZAnKPdgFEwN5tgvswatXZAI4vu7ZBAQexRl9MU0CpwW7JDDBZAGo5XDrCKrBxkUUWJUvh&q=moviepilot&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - ! '"ba0fafe4ed5264db3ef1b4ac787694e839a1e8a6"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"moviepilot horror","id":6016974866325,"audience_size":5155140,"path":[],"description":null},{"name":"moviepilotcom","id":6003495809986,"audience_size":4805530,"path":[],"description":null},{"name":"moviepilot","id":6003327847780,"audience_size":1960530,"path":[],"description":null},{"name":"moviepilot
        superheroes","id":6013950241910,"audience_size":2443280,"path":[],"description":null},{"name":"moviepilot
        tv","id":6014564835078,"audience_size":1427730,"path":[],"description":null},{"name":"moviepilot
        action","id":6014532714533,"audience_size":1372480,"path":[],"description":null},{"name":"moviepilot
        animation","id":6021685075080,"audience_size":1278040,"path":[],"description":null},{"name":"moviepilot
        scifi","id":6014484233967,"audience_size":1115420,"path":[],"description":null}]}'
  recorded_at: Wed, 17 Dec 2014 13:24:51 GMT
recorded_with: VCR 2.3.0
