---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/search?access_token=CAAEvJ5vzhl8BAMFq7jczsXOZBI4rRuBzjrp3lcNHei8FzxZAVzc5ImZCZB9R4qXrZAlxaE1T9HMhyNTM7gExEkZCcGZCXeZBduL23ZA2OMiGl5cIZBuCtxZBLFwZBlyUW8JkENHvtQWUE5ZADM8PvZCpt63OyLvHu0Lsz1kYXLaxKOIuoAM5zlECs3vHTBBAYmE6lcTcSprCCSZAzYKABNJCcyTWeZCPA8SjVLTpZC7QZD&q=moviepilot&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"b5e81b720e917f8b3ec07133966274348ced7101"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6016974866325","name":"moviepilot horror","audience_size":11224,"path":[],"description":null},{"id":"6014564835078","name":"moviepilot
        tv","audience_size":0,"path":[],"description":null},{"id":"6014532714533","name":"moviepilot
        action","audience_size":210,"path":[],"description":null},{"id":"6021685075080","name":"moviepilot
        animation","audience_size":60,"path":[],"description":null},{"id":"6014484233967","name":"moviepilot
        scifi","audience_size":7286,"path":[],"description":null},{"id":"6014914020624","name":"moviepilot
        fantasy","audience_size":0,"path":[],"description":null},{"id":"6003495809986","name":"moviepilotcom","audience_size":703990,"path":[],"description":null},{"id":"6018093532371","name":"moviepilot
        directors","audience_size":19,"path":[],"description":null}]}'
  recorded_at: Tue, 31 Mar 2015 15:11:47 GMT
recorded_with: VCR 2.3.0
