---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/search?access_token=CAAEvJ5vzhl8BAMFq7jczsXOZBI4rRuBzjrp3lcNHei8FzxZAVzc5ImZCZB9R4qXrZAlxaE1T9HMhyNTM7gExEkZCcGZCXeZBduL23ZA2OMiGl5cIZBuCtxZBLFwZBlyUW8JkENHvtQWUE5ZADM8PvZCpt63OyLvHu0Lsz1kYXLaxKOIuoAM5zlECs3vHTBBAYmE6lcTcSprCCSZAzYKABNJCcyTWeZCPA8SjVLTpZC7QZD&q=disney&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"3f3e4346ea53022e7d99afbb488102ebf596a102"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6003270522085","name":"The Walt Disney Company","audience_size":161654510,"path":[],"description":null},{"id":"6003284678611","name":"Walt
        Disney","audience_size":73753740,"path":[],"description":null},{"id":"6003050377616","name":"Walt
        Disney Pictures","audience_size":79528580,"path":[],"description":null},{"id":"6003212182247","name":"Disney
        Channel (Latin America)","audience_size":53833580,"path":[],"description":null},{"id":"6003327130854","name":"Disney
        Channel","audience_size":69383350,"path":[],"description":null},{"id":"6003235403611","name":"Disney
        on Ice","audience_size":45748160,"path":[],"description":null},{"id":"6007022518262","name":"The
        Walt Disney Studios (division)","audience_size":48358890,"path":[],"description":null},{"id":"6003413951089","name":"Disney.com","audience_size":44243810,"path":[],"description":null}]}'
  recorded_at: Tue, 31 Mar 2015 15:11:47 GMT
recorded_with: VCR 2.3.0
