---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/search?access_token=FAKEACCESSTOKEN&q=moviepilot&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"00c8d060548219c13e6e1e57928c422237f1b484"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6003495809986","name":"moviepilotcom","audience_size":4982640,"path":[],"description":null},{"id":"6003327847780","name":"moviepilot","audience_size":1948110,"path":[],"description":null},{"id":"6016974866325","name":"moviepilot
        horror","audience_size":5058700,"path":[],"description":null},{"id":"6014532714533","name":"moviepilot
        action","audience_size":1387320,"path":[],"description":null}]}'
  recorded_at: Wed, 15 Apr 2015 08:31:47 GMT
recorded_with: VCR 2.3.0
