---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?access_token=CAAEvJ5vzhl8BAE7m0kztNbbASKHymRlXoBZCdZCtMsebNEgaR0yOmZCBfeTIXT8MnuV3ZCH5lBDQOcC4S9geswWZBuF707gJ42lV9DHgGILsRaiG2upipiHggl7UZAeDVgBSSsap9s9uv1ghZCxNsmH&q=disney&type=adkeyword
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"167c644dd8fab56d0277dc91306a5636a7994715"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"Disney Channel","id":6003711659516},{"name":"Disneyland","id":6003361056187},{"name":"Disney","id":6003663755307},{"name":"#The
        Walt Disney Company","description":"Audience: 72,500,000","id":6003270522085},{"name":"#Disneyland","description":"Audience:
        24,100,000","id":6003274193708},{"name":"#Disney Channel","description":"Audience:
        17,800,000","id":6003327130854},{"name":"#The Walt Disney Company#Walt Disney
        Pictures","description":"Audience: 14,600,000","id":6004710425192},{"name":"#Walt
        Disney Pictures","description":"Audience: 14,600,000","id":6003050377616}]}'
  recorded_at: Fri, 19 Jul 2013 09:46:19 GMT
recorded_with: VCR 2.3.0
