---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/search?access_token=CAAEvJ5vzhl8BAIVQqWQ3rAE1O5XzoJtd8gVN2lxAzj4uluseUzC0yArPZBBIS93QM8u97oFL7dF2LDNfmGEcRk5vPN8O6NdqceZCqFFtZCi1Us7xLOAsClTksNC1owKOxJiy09aDWxspcoJbkwb3ZCqK1o9qtK5EK09bHZAdgPsFIh4ILyRuCgAm4Xgyc1OgZD&q=disney&type=adkeyword
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"ddd1522d71e8cbd1a1e68ee5ff6cf1e5dbde04cb"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"name":"Disney Channel","id":6003711659516},{"name":"Disneyland","id":6003361056187},{"name":"Disney","id":6003663755307},{"name":"#The
        Walt Disney Company","description":"Audience: 78,100,000","id":6003270522085},{"name":"#Disneyland","description":"Audience:
        26,200,000","id":6003274193708},{"name":"#Disney Channel","description":"Audience:
        22,600,000","id":6003327130854},{"name":"#The Walt Disney Company#Walt Disney
        Pictures","description":"Audience: 9,200,000","id":6004710425192},{"name":"#Walt
        Disney Pictures","description":"Audience: 9,200,000","id":6003050377616}]}'
  recorded_at: Thu, 12 Sep 2013 10:41:47 GMT
recorded_with: VCR 2.3.0
