---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.2/act_367106653/adcampaign_groups
    body:
      encoding: US-ASCII
      string: daily_budget=1000&name=bloody+campaign+%28via+account%29&redownload=1&access_token=FAKEACCESSTOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6024300270466"}'
  recorded_at: Wed, 15 Apr 2015 08:31:49 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/6024300270466?access_token=FAKEACCESSTOKEN&fields=id,account_id,objective,name,adgroups,campaign_group_status,buying_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"d4275dbdef2f31612d0b584e5007051d574503c5"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6024300270466","account_id":"367106653","objective":"NONE","name":"bloody
        campaign (via account)","campaign_group_status":"ACTIVE","buying_type":"AUCTION"}'
  recorded_at: Wed, 15 Apr 2015 08:31:50 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/6024300271066?access_token=FAKEACCESSTOKEN&fields=id,account_id,objective,name,adgroups,campaign_group_status,buying_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"5fc49c9fce8b1298addf8f2dc950dd6bf98fb83b"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6024300271066","account_id":"367106653","objective":"NONE","name":"bloody
        campaign","campaign_group_status":"PAUSED","buying_type":"AUCTION"}'
  recorded_at: Wed, 15 Apr 2015 08:31:51 GMT
recorded_with: VCR 2.3.0
