---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.2/act_367106653/adcampaigns
    body:
      encoding: US-ASCII
      string: bid_type=CPC&bid_info=%7B%27CLICKS%27%3A+1%7D&name=bloody+ad+set&campaign_status=PAUSED&daily_budget=100&targeting=%7B%27geo_locations%27%3A%7B%27countries%27%3A%5B%27US%27%2C%27GB%27%5D%7D%7D&campaign_group_id=6023922829666&redownload=1&access_token=CAAEvJ5vzhl8BAMFq7jczsXOZBI4rRuBzjrp3lcNHei8FzxZAVzc5ImZCZB9R4qXrZAlxaE1T9HMhyNTM7gExEkZCcGZCXeZBduL23ZA2OMiGl5cIZBuCtxZBLFwZBlyUW8JkENHvtQWUE5ZADM8PvZCpt63OyLvHu0Lsz1kYXLaxKOIuoAM5zlECs3vHTBBAYmE6lcTcSprCCSZAzYKABNJCcyTWeZCPA8SjVLTpZC7QZD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6023922831066","data":{"campaigns":{"6023922831066":{"id":"6023922831066","account_id":367106653,"name":"bloody
        ad set","daily_budget":100,"campaign_status":"PAUSED","daily_imps":0,"frequency_cap":0,"frequency_cap_reset_period":0,"start_time":"2015-03-31T08:11:55-0700","updated_time":"2015-03-31T08:11:55-0700","created_time":"2015-03-31T08:11:55-0700","campaign_group_id":"6023922829666","product_ad_behavior":"REQUIRE_LAST_SEEN_PRODUCTS","prorated_daily_budget":65,"budget_remaining":65,"bid_type":"CPC","bid_info":{"CLICKS":1},"targeting":{"age_min":18,"age_max":65,"geo_locations":{"countries":["US","GB"],"location_types":["home"]}},"pacing_type":["standard"]}}}}'
  recorded_at: Tue, 31 Mar 2015 15:11:55 GMT
recorded_with: VCR 2.3.0
