---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.2/act_367106653/adcampaigns
    body:
      encoding: US-ASCII
      string: bid_type=CPC&bid_info=%7B%27CLICKS%27%3A+1%7D&name=bloody+ad+set&campaign_status=PAUSED&daily_budget=100&targeting=%7B%27geo_locations%27%3A%7B%27countries%27%3A%5B%27US%27%2C%27GB%27%5D%7D%7D&campaign_group_id=6023922379466&redownload=1&access_token=CAAEvJ5vzhl8BAEQZCcZCGbu4wERy7XwEQZBphaX17qnJmsmQsZCDX20Nbagl1G7AYf4My3ZCf0NBqYF1b23hVntVezxRZCjDflKu4E2GF6nLg6vqbFoYHr72zzv0PHXt1HiUaVAbLGgE70McJzcrkx4l9IBlhvDKOU3Xb7PgRL4st10Sr1aQwdkQANZATNxe85jhufSLVvhk5xI5TeQIol5iyQT7ZCGKZBsIZD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6023922380266","data":{"campaigns":{"6023922380266":{"id":"6023922380266","account_id":367106653,"name":"bloody
        ad set","daily_budget":100,"campaign_status":"PAUSED","daily_imps":0,"frequency_cap":0,"frequency_cap_reset_period":0,"start_time":"2015-03-31T07:50:55-0700","updated_time":"2015-03-31T07:50:55-0700","created_time":"2015-03-31T07:50:55-0700","campaign_group_id":"6023922379466","product_ad_behavior":"REQUIRE_LAST_SEEN_PRODUCTS","prorated_daily_budget":67,"budget_remaining":67,"bid_type":"CPC","bid_info":{"CLICKS":1},"targeting":{"age_min":18,"age_max":65,"geo_locations":{"countries":["US","GB"],"location_types":["home"]}},"pacing_type":["standard"]}}}}'
  recorded_at: Tue, 31 Mar 2015 14:50:55 GMT
recorded_with: VCR 2.3.0
