---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.4/act_367106653/ads
    body:
      encoding: US-ASCII
      string: name=Rap+like+me&bid_amount=5&creative=%7B%22creative_id%22%3A+6024299683866%7D&adset_id=6029725595466&redownload=1&access_token=DUMMY_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725596866","data":{"ads":{"6029725596866":{"id":"6029725596866","account_id":"367106653","adgroup_status":"PENDING_REVIEW","bid_info":{"REACH":5},"bid_type":"ABSOLUTE_OCPM","adset_id":"6029725595466","campaign_id":"6029725594066","name":"Rap
        like me","targeting":{"age_max":65,"age_min":18,"geo_locations":{"countries":["US","GB"],"location_types":["home"]},"page_types":["desktopfeed","mobileexternal","mobilefeed","rightcolumn"]},"tracking_specs":[{"action.type":["link_click"],"object":["10150219314478408"]},{"action.type":["page_engagement"],"page":["158352134203230"]}],"updated_time":1441878445,"created_time":1441878445,"bid_amount":5}},"creatives":{"6024299683866":{"id":"6024299683866","body":"bloody
        body","image_hash":"1040d95f6a3505d0da0c8502cc87376a","image_url":"https:\/\/fbcdn-creative-a.akamaihd.net\/hads-ak-xaf1\/t45.1600-4\/s110x80\/10736784_6024299683266_385998835_n.png","actor_id":"158352134203230","object_type":"DOMAIN","object_url":"http:\/\/moviepilot.com\/","title":"bloody
        title"}}}}'
  recorded_at: Thu, 10 Sep 2015 09:47:26 GMT
recorded_with: VCR 2.3.0
