---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.4/act_367106653/adcampaigns
    body:
      encoding: US-ASCII
      string: bid_amount=1&billing_event=IMPRESSIONS&optimization_goal=REACH&name=bloody+ad+set&campaign_status=PAUSED&daily_budget=100&targeting=%7B%27geo_locations%27%3A%7B%27countries%27%3A%5B%27US%27%2C%27GB%27%5D%7D%7D&campaign_group_id=6029725594066&redownload=1&access_token=DUMMY_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725595466","data":{"campaigns":{"6029725595466":{"id":"6029725595466","account_id":"367106653","name":"bloody
        ad set","daily_budget":"100","lifetime_budget":"0","campaign_status":"PAUSED","frequency_cap":0,"frequency_cap_reset_period":0,"lifetime_frequency_cap":0,"lifetime_imps":0,"start_time":"2015-09-10T02:47:21-0700","updated_time":"2015-09-10T02:47:21-0700","created_time":"2015-09-10T02:47:21-0700","campaign_group_id":"6029725594066","product_ad_behavior":"REQUIRE_LAST_SEEN_PRODUCTS","budget_remaining":"88","bid_info":{"REACH":1},"is_autobid":false,"targeting":{"age_max":65,"age_min":18,"geo_locations":{"countries":["US","GB"],"location_types":["home"]},"page_types":["desktopfeed","mobileexternal","mobilefeed","rightcolumn"]},"optimization_goal":"REACH","bid_amount":1,"billing_event":"IMPRESSIONS","rtb_flag":false,"pacing_type":["standard"],"use_new_app_click":false}}}}'
  recorded_at: Thu, 10 Sep 2015 09:47:21 GMT
recorded_with: VCR 2.3.0
