---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6021525283751?access_token=CAAEvJ5vzhl8BANgaZCvjMZCRsIbNZCSPswoDM0MTx8g30ojs53HUp43aVBVdqHnu9kIFytWIR5oRfp1Sy8DZBtJ9p5Rw2kY93ZAu6EwzHqZCrjmeBxXBWWlMCty1Bg4zKc3abdbjgoX4fWP4NWCEyWZCFJBKXWR0WV3ZC63bSqw7ojzYJm4teOarRc1GaesGIlIKlZB6s7EwZA1qUZCCKsdZCSsq%0A&fields=id,name,account_id,bid_type,bid_info,campaign_group_id,campaign_status,start_time,end_time,updated_time,created_time,daily_budget,lifetime_budget,budget_remaining,targeting,promoted_object
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - ! '"6d1f3fb1b8dc7e25bd46f71dd1ec13f3c6ad7d09"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"6021525283751","name":"test ad set","account_id":"10150585630710217","campaign_group_id":"6021499361751","campaign_status":"ACTIVE","start_time":"2014-12-17T12:53:23+0100","updated_time":"2014-12-17T13:29:58+0100","created_time":"2014-12-17T12:53:23+0100","daily_budget":100,"lifetime_budget":0,"budget_remaining":46}'
  recorded_at: Wed, 17 Dec 2014 12:36:40 GMT
- request:
    method: post
    uri: https://graph.facebook.com/act_10150585630710217/adgroups
    body:
      encoding: US-ASCII
      string: bid_type=CPC&bid_info=%7B%22CLICKS%22%3A+1%7D&name=Rap+like+me&targeting=%7B%22geo_locations%22%3A+%7B%22countries%22%3A%5B%22US%22%5D%7D%7D&objective=WEBSITE_CLICKS&creative=%7B%22creative_id%22%3A+%226021396606151%22%7D&campaign_id=6021525283751&redownload=1&access_token=CAAEvJ5vzhl8BANgaZCvjMZCRsIbNZCSPswoDM0MTx8g30ojs53HUp43aVBVdqHnu9kIFytWIR5oRfp1Sy8DZBtJ9p5Rw2kY93ZAu6EwzHqZCrjmeBxXBWWlMCty1Bg4zKc3abdbjgoX4fWP4NWCEyWZCFJBKXWR0WV3ZC63bSqw7ojzYJm4teOarRc1GaesGIlIKlZB6s7EwZA1qUZCCKsdZCSsq%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"6021526003751","data":{"adgroups":{"6021526003751":{"id":"6021526003751","account_id":"10150585630710217","adgroup_status":"PENDING_REVIEW","bid_info":{"CLICKS":1},"bid_type":"CPC","campaign_id":"6021525283751","creative_ids":["6021396606151"],"impression_control_map":[{"location":3,"control":{"impression_control_type":2,"user_impression_limit":6,"user_impression_limit_period":24,"user_impression_limit_period_unit":0}}],"last_updated_by_app_id":333322143368799,"locations":[3],"name":"Rap
        like me","objective":"WEBSITE_CLICKS","targeting":{"age_max":65,"age_min":18,"geo_locations":{"countries":["US"]}},"tracking_specs":[{"action.type":["post_engagement"],"page":[250413944992062],"post":[882760995090684]}],"updated_time":1418819801,"created_time":1418819801}},"creatives":{"6021396606151":{"id":"6021396606151","object_type":"SHARE","object_story_id":"250413944992062_882760995090684","object_story_spec":{"page_id":"250413944992062","link_data":{"link":"http:\/\/moviepilot.com\/","message":"Story
        message","name":"Link Name","caption":"Link Caption","description":"A description","picture":"http:\/\/graph.facebook.com\/moviepilotdotcom\/picture"}},"name":"Link
        Page Post Ad Creative"}}}}'
  recorded_at: Wed, 17 Dec 2014 12:36:41 GMT
- request:
    method: get
    uri: https://graph.facebook.com/6021525283751?access_token=CAAEvJ5vzhl8BAICOwypV5nYnYWXhBq1eskHA7rKyrz9fXcAvKRXDWVZAaG7FpQ21qTXeCtGZCR7iu1dtZCqZCZBZCQbefKrMOnZAibDZAiQKiX0s22PgtKuCoQK4LDVimREnqkGdoLMyB4zgT3A6ZAU7pn6wc2mTzZBWVbkr71bZBJKjhyeb4V58TkMsUbN9SQer3ZCRRtWTxqNFTUwHuv51RoVsI7LNw0mCr5gZD%0A&fields=id,name,account_id,bid_type,bid_info,campaign_group_id,campaign_status,start_time,end_time,updated_time,created_time,daily_budget,lifetime_budget,budget_remaining,targeting,promoted_object
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - ! '"6d1f3fb1b8dc7e25bd46f71dd1ec13f3c6ad7d09"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"6021525283751","name":"test ad set","account_id":"10150585630710217","campaign_group_id":"6021499361751","campaign_status":"ACTIVE","start_time":"2014-12-17T12:53:23+0100","updated_time":"2014-12-17T13:29:58+0100","created_time":"2014-12-17T12:53:23+0100","daily_budget":100,"lifetime_budget":0,"budget_remaining":46}'
  recorded_at: Wed, 17 Dec 2014 13:22:12 GMT
[...]
