---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/act_10150585630710217/adcampaigns
    body:
      encoding: US-ASCII
      string: name=test+ad+set&campaign_status=PAUSED&daily_budget=100&targeting=%7B%27geo_locations%27%3A%7B%27countries%27%3A%5B%27US%27%2C%27GB%27%5D%7D%7D&campaign_group_id=6021499361751&redownload=1&access_token=CAAEvJ5vzhl8BANgaZCvjMZCRsIbNZCSPswoDM0MTx8g30ojs53HUp43aVBVdqHnu9kIFytWIR5oRfp1Sy8DZBtJ9p5Rw2kY93ZAu6EwzHqZCrjmeBxXBWWlMCty1Bg4zKc3abdbjgoX4fWP4NWCEyWZCFJBKXWR0WV3ZC63bSqw7ojzYJm4teOarRc1GaesGIlIKlZB6s7EwZA1qUZCCKsdZCSsq%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"6021526001951","data":{"campaigns":{"6021526001951":{"id":"6021526001951","account_id":"10150585630710217","name":"test
        ad set","daily_budget":100,"campaign_status":"PAUSED","daily_imps":0,"frequency_cap":0,"frequency_cap_reset_period":0,"start_time":"2014-12-17T13:36:38+0100","updated_time":"2014-12-17T13:36:38+0100","created_time":"2014-12-17T13:36:38+0100","campaign_group_id":6021499361751,"prorated_daily_budget":43,"budget_remaining":43,"targeting":{"age_min":18,"age_max":65,"geo_locations":{"countries":["US","GB"]}},"pacing_type":["standard"]}}}}'
  recorded_at: Wed, 17 Dec 2014 12:36:38 GMT
[...]
