---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.4/act_367106653/campaigns
    body:
      encoding: US-ASCII
      string: daily_budget=1000&name=bloody+campaign+%28via+account%29&redownload=1&access_token=DUMMY_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725593266"}'
  recorded_at: Thu, 10 Sep 2015 09:47:19 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/6029725593266?access_token=DUMMY_TOKEN&fields=id,account_id,objective,name,ads,status,buying_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"38d1711ccb1597eed80cd4dc5011ef83ac89b2f5"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725593266","account_id":"367106653","objective":"NONE","name":"bloody
        campaign (via account)","status":"ACTIVE","buying_type":"AUCTION"}'
  recorded_at: Thu, 10 Sep 2015 09:47:19 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/6029725594066?access_token=DUMMY_TOKEN&fields=id,account_id,objective,name,ads,status,buying_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"89a44c9a956eb960b4aaa07fdff11ddddfbc867f"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725594066","account_id":"367106653","objective":"NONE","name":"bloody
        campaign","status":"PAUSED","buying_type":"AUCTION"}'
  recorded_at: Thu, 10 Sep 2015 09:47:20 GMT
recorded_with: VCR 2.3.0
