---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v2.2/act_367106653/adgroups
    body:
      encoding: US-ASCII
      string: name=Rap+like+me&objective=WEBSITE_CLICKS&creative=%7B%22creative_id%22%3A+6023920301066%7D&campaign_id=6023922380266&redownload=1&access_token=CAAEvJ5vzhl8BAEQZCcZCGbu4wERy7XwEQZBphaX17qnJmsmQsZCDX20Nbagl1G7AYf4My3ZCf0NBqYF1b23hVntVezxRZCjDflKu4E2GF6nLg6vqbFoYHr72zzv0PHXt1HiUaVAbLGgE70McJzcrkx4l9IBlhvDKOU3Xb7PgRL4st10Sr1aQwdkQANZATNxe85jhufSLVvhk5xI5TeQIol5iyQT7ZCGKZBsIZD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6023922386266","data":{"adgroups":{"6023922386266":{"id":"6023922386266","account_id":"367106653","adgroup_status":"PENDING_REVIEW","bid_info":{"CLICKS":1},"bid_type":"CPC","campaign_id":"6023922380266","creative_ids":["6023920301066"],"name":"Rap
        like me","objective":"WEBSITE_CLICKS","targeting":{"age_max":65,"age_min":18,"geo_locations":{"countries":["US","GB"],"location_types":["home"]}},"tracking_specs":[{"action.type":["link_click"],"object":["10150219314478408"]},{"action.type":["like"],"page":["158352134203230"]}],"updated_time":1427813459,"created_time":1427813459}},"creatives":{"6023920301066":{"id":"6023920301066","body":"bloody
        body","image_hash":"3750c9b7e692b387b6a6c66b47e97442","image_url":"https:\/\/fbcdn-creative-a.akamaihd.net\/hads-ak-xpf1\/t45.1600-4\/s110x80\/10736900_6023920295866_1120642805_n.jpg","actor_id":"158352134203230","object_type":"DOMAIN","object_url":"http:\/\/moviepilot.com\/","name":"bloody
        title-01","title":"bloody title"}}}}'
  recorded_at: Tue, 31 Mar 2015 14:50:59 GMT
recorded_with: VCR 2.3.0
