---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6021525861551?access_token=CAAEvJ5vzhl8BAICOwypV5nYnYWXhBq1eskHA7rKyrz9fXcAvKRXDWVZAaG7FpQ21qTXeCtGZCR7iu1dtZCqZCZBZCQbefKrMOnZAibDZAiQKiX0s22PgtKuCoQK4LDVimREnqkGdoLMyB4zgT3A6ZAU7pn6wc2mTzZBWVbkr71bZBJKjhyeb4V58TkMsUbN9SQer3ZCRRtWTxqNFTUwHuv51RoVsI7LNw0mCr5gZD%0A&fields=id,account_id,adgroup_status,bid_type,bid_info,conversion_specs,campaign_id,campaign_group_id,conversion_specs,created_time,creative_ids,failed_delivery_checks,name,targeting,tracking_specs,updated_time,view_tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - ! '"baa6237b818398d2f5f135c8e586d7cb83dcf561"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"6021525861551","account_id":"10150585630710217","adgroup_status":"ACTIVE","bid_type":"CPC","bid_info":{"CLICKS":1},"campaign_id":"6021525283751","campaign_group_id":"6021499361751","created_time":"2014-12-17T13:29:58+0100","creative_ids":["6021396606151"],"failed_delivery_checks":[{"check_name":"spending_limit_reached","description":"Your
        ads aren''t running because you''ve reached the spending limit you set for
        your ad account. To get your ads up and running please edit your spending
        limit.","summary":"Spending limit reached."}],"name":"My new name","targeting":{"age_max":65,"age_min":18,"geo_locations":{"countries":["US"]}},"tracking_specs":[{"action.type":["post_engagement"],"page":[250413944992062],"post":[882760995090684]}],"updated_time":"2014-12-17T14:21:59+0100"}'
  recorded_at: Wed, 17 Dec 2014 13:22:08 GMT
- request:
    method: post
    uri: https://graph.facebook.com/6021525861551
    body:
      encoding: US-ASCII
      string: ! "-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"account_id\"\r\n\r\n10150585630710217\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"adgroup_status\"\r\n\r\nACTIVE\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"bid_type\"\r\n\r\nCPC\r\n-------------RubyMultipartP[...]
[...]
