---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/6024300273866?access_token=FAKEACCESSTOKEN&fields=id,account_id,conversion_specs,campaign_id,campaign_group_id,created_time,creative_ids,failed_delivery_checks,name,tracking_specs,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"e74aef48c9b1a713ff6d6421dae6886d9276f2f5"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6024300273866","account_id":"367106653","campaign_id":"6024300272266","campaign_group_id":"6024300271066","created_time":"2015-04-15T01:31:52-0700","creative_ids":["6024299683866"],"name":"Rap
        like me","tracking_specs":[{"action.type":["link_click"],"object":["10150219314478408"]},{"action.type":["like"],"page":["158352134203230"]}],"updated_time":"2015-04-15T01:31:52-0700"}'
  recorded_at: Wed, 15 Apr 2015 08:31:57 GMT
- request:
    method: post
    uri: https://graph.facebook.com/v2.2/6024300273866
    body:
      encoding: US-ASCII
      string: ! "-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"account_id\"\r\n\r\n367106653\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"campaign_id\"\r\n\r\n6024300272266\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"campaign_group_id\"\r\n\r\n6024300271066\r\n-------[...]
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/6024300273866?access_token=FAKEACCESSTOKEN&fields=id,account_id,conversion_specs,campaign_id,campaign_group_id,created_time,creative_ids,failed_delivery_checks,name,tracking_specs,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"fe55127ce103452457a6ccab694fd209f3a7b0d0"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"id":"6024300273866","account_id":"367106653","campaign_id":"6024300272266","campaign_group_id":"6024300271066","created_time":"2015-04-15T01:31:52-0700","creative_ids":["6024299683866"],"name":"My
        new name","tracking_specs":[{"action.type":["link_click"],"object":["10150219314478408"]},{"action.type":["like"],"page":["158352134203230"]}],"updated_time":"2015-04-15T01:31:56-0700"}'
  recorded_at: Wed, 15 Apr 2015 08:31:58 GMT
recorded_with: VCR 2.3.0
