---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6005859287551?access_token=AAAEvJ5vzhl8BALRaa2dRQ6BkK7dU2ZB6R7n9xfGif8Xnmqu5KKRHWUSLlmDXXO5lo1e8fJZAMeppR7QQtGvpnPNSBkrI1DwGHxXRrnfQZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"bb73ea4ed81a46bdd4c12e5d9b48dd8c1552ad92"'
    body:
      encoding: US-ASCII
      string: ! '{"adgroup_id":6005859287551,"ad_id":6005859287551,"campaign_id":6005851032951,"name":"fepp","adgroup_status":3,"bid_type":1,"max_bid":"1","bid_info":{"1":"1"},"ad_status":3,"account_id":"10150585630710217","id":"6005859287551","creative_ids":[6005851371551],"targeting":{"countries":["US"],"friends_of_connections":[{"id":"6005851366351","name":null}]},"conversion_specs":[{"action.type":"like","post":"10150420410887685"}],"start_time":null,"end_time":null,"updated_time":"2012-08-03T11:14:36+0000","created_time":"2012-08-03T08:03:57+0000"}'
  recorded_at: Fri, 03 Aug 2012 11:15:25 GMT
- request:
    method: post
    uri: https://graph.facebook.com/6005859287551
    body:
      encoding: US-ASCII
      string: ! "-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"adgroup_id\"\r\n\r\n6005859287551\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"ad_id\"\r\n\r\n6005859287551\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"campaign_id\"\r\n\r\n6005851032951\r\n-------------RubyMul[...]
- request:
    method: get
    uri: https://graph.facebook.com/6005859287551?access_token=AAAEvJ5vzhl8BALRaa2dRQ6BkK7dU2ZB6R7n9xfGif8Xnmqu5KKRHWUSLlmDXXO5lo1e8fJZAMeppR7QQtGvpnPNSBkrI1DwGHxXRrnfQZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"1df7516dabd5bf2691919fa3e36d04d9f36503cc"'
    body:
      encoding: US-ASCII
      string: ! '{"adgroup_id":6005859287551,"ad_id":6005859287551,"campaign_id":6005851032951,"name":"My
        new name","adgroup_status":3,"bid_type":1,"max_bid":"1","bid_info":{"1":"1"},"ad_status":3,"account_id":"10150585630710217","id":"6005859287551","creative_ids":[6005851371551],"targeting":{"countries":["US"],"friends_of_connections":[{"id":"6005851366351","name":null}]},"conversion_specs":[{"action.type":"like","post":"10150420410887685"}],"start_time":null,"end_time":null,"updated_time":"2012-08-03T11:15:26+0000","created_time":"2012-08-03T08:03:57+0000"}'
  recorded_at: Fri, 03 Aug 2012 11:15:27 GMT
recorded_with: VCR 2.2.4
