---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6005859287551?access_token=AAAEvJ5vzhl8BALRaa2dRQ6BkK7dU2ZB6R7n9xfGif8Xnmqu5KKRHWUSLlmDXXO5lo1e8fJZAMeppR7QQtGvpnPNSBkrI1DwGHxXRrnfQZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"bb73ea4ed81a46bdd4c12e5d9b48dd8c1552ad92"'
    body:
      encoding: US-ASCII
      string: ! '{"adgroup_id":6005859287551,"ad_id":6005859287551,"campaign_id":6005851032951,"name":"fepp","adgroup_status":3,"bid_type":1,"max_bid":"1","bid_info":{"1":"1"},"ad_status":3,"account_id":"10150585630710217","id":"6005859287551","creative_ids":[6005851371551],"targeting":{"countries":["US"],"friends_of_connections":[{"id":"6005851366351","name":null}]},"conversion_specs":[{"action.type":"like","post":"10150420410887685"}],"start_time":null,"end_time":null,"updated_time":"2012-08-03T11:14:36+0000","created_time":"2012-08-03T08:03:57+0000"}'
  recorded_at: Fri, 03 Aug 2012 11:15:25 GMT
- request:
    method: post
    uri: https://graph.facebook.com/6005859287551
    body:
      encoding: US-ASCII
      string: ! "-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"adgroup_id\"\r\n\r\n6005859287551\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"ad_id\"\r\n\r\n6005859287551\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"campaign_id\"\r\n\r\n6005851032951\r\n-------------RubyMul[...]
[...]
- request:
    method: get
    uri: https://graph.facebook.com/6005859287551?access_token=AAAEvJ5vzhl8BAG3qjJXGVUVKTzjMLrirxcVxllKJdthkQrEstIgXzMYZAAzg0ETsCGMGmX9UvUh4ZCGvATX9ZCnjNee18OTtQ9ZAarrDBQZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "invalid_token" "Error validating access token:
        Session has expired at unix time 1343822400. The current unix time is 1345558147."'
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Error validating access token: Session has expired
        at unix time 1343822400. The current unix time is 1345558147.","type":"OAuthException","code":190,"error_subcode":463}}'
  recorded_at: Tue, 21 Aug 2012 14:09:08 GMT
- request:
    method: get
    uri: https://graph.facebook.com/6005859287551?access_token=AAAEvJ5vzhl8BABhTSazJZB2D0B4N0l242VX22Hg9J2WZA7fptcAztfXxfAZB9mhZB6W1nl5dz5tXMlb9DJk9ibs6RqtP7PtO6a3XCiHWVwZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"670f4d3edd8c5abe9e6f957b061d0919eb201e61"'
    body:
      encoding: US-ASCII
      string: ! '{"adgroup_id":6005859287551,"ad_id":6005859287551,"campaign_id":6005851032951,"name":"My
        new name","adgroup_status":3,"bid_type":1,"max_bid":"1","bid_info":{"1":"1"},"ad_status":3,"locations":[3],"impression_control_map":[{"location":3,"control":{"impression_control_type":2,"user_impression_limit":6,"user_impression_limit_period":24,"user_impression_limit_period_unit":0}}],"account_id":"10150585630710217","id":"6005859287551","creative_ids":[6005851371551],"targeting":{"countries":["US"],"friends_of_connections":[{"id":"6005851366351","name":null}]},"conversion_specs":[{"action.type":"like","post":"10150420410887685"}],"start_time":null,"end_time":null,"updated_time":"2012-08-07T03:14:43+0000","created_time":"2012-08-03T08:03:57+0000"}'
  recorded_at: Tue, 21 Aug 2012 14:10:59 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/6005859287551?access_token=AAAEvJ5vzhl8BABhTSazJZB2D0B4N0l242VX22Hg9J2WZA7fptcAztfXxfAZB9mhZB6W1nl5dz5tXMlb9DJk9ibs6RqtP7PtO6a3XCiHWVwZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"710c312f79703a51af6cc1688ea3102fdee70cb7"'
    body:
      encoding: US-ASCII
      string: ! '{"adgroup_id":6005859287551,"ad_id":6005859287551,"campaign_id":6005851032951,"name":"My
        new name","adgroup_status":3,"bid_type":1,"max_bid":"1","bid_info":{"1":"1"},"ad_status":3,"locations":[3],"impression_control_map":[{"location":3,"control":{"impression_control_type":2,"user_impression_limit":6,"user_impression_limit_period":24,"user_impression_limit_period_unit":0}}],"account_id":"10150585630710217","id":"6005859287551","creative_ids":[6005851371551],"targeting":{"countries":["US"],"friends_of_connections":[{"id":"6005851366351","name":null}]},"conversion_specs":[{"action.type":"like","post":"10150420410887685"}],"last_updated_by_app_id":333322143368799,"start_time":null,"end_time":null,"updated_time":"2012-08-21T14:11:00+0000","created_time":"2012-08-03T08:03:57+0000"}'
  recorded_at: Tue, 21 Aug 2012 14:11:01 GMT
recorded_with: VCR 2.2.4
