---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/6029725596866?access_token=DUMMY_TOKEN&fields=id,account_id,adgroup_review_feedback,adgroup_status,bid_amount,campaign_id,campaign_group_id,created_time,creative,failed_delivery_checks,name,targeting,tracking_specs,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"46a9a514223940bf6c4fd4511f0c4bfecccee01f"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725596866","account_id":"367106653","adgroup_status":"PENDING_REVIEW","bid_amount":5,"campaign_id":"6029725595466","campaign_group_id":"6029725594066","created_time":"2015-09-10T02:47:25-0700","creative":{"id":"6024299683866"},"name":"Rap
        like me","targeting":{"age_max":65,"age_min":18,"geo_locations":{"countries":["US","GB"],"location_types":["home"]},"page_types":["desktopfeed","mobileexternal","mobilefeed","rightcolumn"]},"tracking_specs":[{"action.type":["link_click"],"object":["10150219314478408"]},{"action.type":["page_engagement"],"page":["158352134203230"]}],"updated_time":"2015-09-10T02:47:25-0700"}'
  recorded_at: Thu, 10 Sep 2015 09:47:29 GMT
- request:
    method: post
    uri: https://graph.facebook.com/v2.4/6029725596866
    body:
      encoding: US-ASCII
      string: ! "-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"account_id\"\r\n\r\n367106653\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"adgroup_status\"\r\n\r\nPENDING_REVIEW\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"bid_amount\"\r\n\r\n5\r\n-------------RubyMulti[...]
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/6029725596866?access_token=DUMMY_TOKEN&fields=id,account_id,adgroup_review_feedback,adgroup_status,bid_amount,campaign_id,campaign_group_id,created_time,creative,failed_delivery_checks,name,targeting,tracking_specs,updated_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"504368edf5babbe5584dcaad914fa8c7fa3b1c2a"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"id":"6029725596866","account_id":"367106653","adgroup_status":"PENDING_REVIEW","bid_amount":5,"campaign_id":"6029725595466","campaign_group_id":"6029725594066","created_time":"2015-09-10T02:47:25-0700","creative":{"id":"6024299683866"},"name":"My
        new name","targeting":{"age_max":65,"age_min":18,"geo_locations":{"countries":["US","GB"],"location_types":["home"]},"page_types":["desktopfeed","mobileexternal","mobilefeed","rightcolumn"]},"tracking_specs":[{"action.type":["link_click"],"object":["10150219314478408"]},{"action.type":["page_engagement"],"page":["158352134203230"]}],"updated_time":"2015-09-10T02:47:30-0700"}'
  recorded_at: Thu, 10 Sep 2015 09:47:30 GMT
recorded_with: VCR 2.3.0
