---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6010889169151?access_token=CAAEvJ5vzhl8BAIVQqWQ3rAE1O5XzoJtd8gVN2lxAzj4uluseUzC0yArPZBBIS93QM8u97oFL7dF2LDNfmGEcRk5vPN8O6NdqceZCqFFtZCi1Us7xLOAsClTksNC1owKOxJiy09aDWxspcoJbkwb3ZCqK1o9qtK5EK09bHZAdgPsFIh4ILyRuCgAm4Xgyc1OgZD&fields=account_id,ad_id,adgroup_id,adgroup_status,bid_type,campaign_id,conversion_specs,created_time,creative_ids,id,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,name,targeting,tracking_specs,updated_time,view_tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"14f1c4b77573adaf9e65ad592f37cd66f608d1b0"'
    body:
      encoding: US-ASCII
      string: ! '{"account_id":"10150585630710217","ad_id":6010889169151,"adgroup_id":6010889169151,"adgroup_status":3,"bid_type":1,"campaign_id":6010889111951,"conversion_specs":[],"created_time":"2013-09-12T12:20:54+0200","creative_ids":[6010888561951],"id":"6010889169151","last_updated_by_app_id":333322143368799,"max_bid":1,"name":"My
        new name","targeting":{"countries":["US"]},"tracking_specs":[],"updated_time":"2013-09-12T13:57:27+0200"}'
  recorded_at: Thu, 12 Sep 2013 11:58:07 GMT
- request:
    method: post
    uri: https://graph.facebook.com/6010889169151
    body:
      encoding: US-ASCII
      string: ! "-------------RubyMultipartPost\r\nContent-Disposition: form-data;
        name=\"account_id\"\r\n\r\n10150585630710217\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"ad_id\"\r\n\r\n6010889169151\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"adgroup_id\"\r\n\r\n6010889169151\r\n-------------Ruby[...]
[...]
- request:
    method: get
    uri: https://graph.facebook.com/6010889169151?access_token=CAAEvJ5vzhl8BAIVQqWQ3rAE1O5XzoJtd8gVN2lxAzj4uluseUzC0yArPZBBIS93QM8u97oFL7dF2LDNfmGEcRk5vPN8O6NdqceZCqFFtZCi1Us7xLOAsClTksNC1owKOxJiy09aDWxspcoJbkwb3ZCqK1o9qtK5EK09bHZAdgPsFIh4ILyRuCgAm4Xgyc1OgZD&fields=account_id,ad_id,adgroup_id,adgroup_status,bid_type,campaign_id,conversion_specs,created_time,creative_ids,id,disapprove_reason_descriptions,last_updated_by_app_id,max_bid,name,targeting,tracking_specs,updated_time,view_tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"e794693e5342d85741c2d4a69f6bf9a3066ce822"'
    body:
      encoding: US-ASCII
      string: ! '{"account_id":"10150585630710217","ad_id":6010889169151,"adgroup_id":6010889169151,"adgroup_status":3,"bid_type":1,"campaign_id":6010889111951,"conversion_specs":[],"created_time":"2013-09-12T12:20:54+0200","creative_ids":[6010888561951],"id":"6010889169151","last_updated_by_app_id":333322143368799,"max_bid":1,"name":"My
        new name","targeting":{"countries":["US"]},"tracking_specs":[],"updated_time":"2013-09-12T13:58:08+0200"}'
  recorded_at: Thu, 12 Sep 2013 11:58:09 GMT
recorded_with: VCR 2.3.0
