---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/act_10150585630710217/adcampaigns?access_token=CAAEvJ5vzhl8BAIVQqWQ3rAE1O5XzoJtd8gVN2lxAzj4uluseUzC0yArPZBBIS93QM8u97oFL7dF2LDNfmGEcRk5vPN8O6NdqceZCqFFtZCi1Us7xLOAsClTksNC1owKOxJiy09aDWxspcoJbkwb3ZCqK1o9qtK5EK09bHZAdgPsFIh4ILyRuCgAm4Xgyc1OgZD&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"77e5692c6f0cbc18ecb870c1db0603cffa6c9f64"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6010889111951","account_id":"10150585630710217","name":"bloody","daily_budget":1000,"campaign_status":1,"daily_imps":0,"frequency_cap":0,"frequency_cap_reset_period":0,"start_time":"2013-09-12T12:14:47+0200","updated_time":"2013-09-12T12:14:47+0200","created_time":"2013-09-12T12:14:47+0200","campaign_id":6010889111951},{"id":"6010341807151","account_id":"10150585630710217","name":"Promoting
        \"HAPPY BIRTHDAY, ARNOLD #pumpingandhumping\"","lifetime_budget":1500,"campaign_status":1,"daily_imps":0,"frequency_cap":0,"frequency_cap_reset_period":0,"start_time":"2013-07-31T15:10:27+0200","end_time":"2013-08-01T15:10:27+0200","updated_time":"2013-07-31T15:10:28+0200","created_time":"2013-07-31T15:10:27+0200","campaign_id":6010341807151}],"paging":{"cursors":{"after":"NjAxMDM0MTgwNzE1MQ==","before":"NjAxMDg4OTExMTk1MQ=="}},"count":2,"limit":100,"offset":0}'
  recorded_at: Thu, 12 Sep 2013 10:41:54 GMT
recorded_with: VCR 2.3.0
