---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/act_10150585630710217/adcampaigns?access_token=CAAEvJ5vzhl8BACAx0zfP8gdDgQQifhVnaIqAdn2gzdJD7uEaJcfUvCzzhhDEsrDULiaKpDErxdTldZAfhMgNVLZAmnJ9ZANPHM8jeAEqpXAvK4CoAyBatH8Af58Ry1gTUjAnv5xZBwU5sKx4Kzkf6jqpFNj96HoDsBKPtOghiddiiqUy55JUFXGXaAImWj8ZD&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"9ead3a0dd56903298ee4dc342ae5d04c3e860521"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6010888547351","account_id":"10150585630710217","name":"bloody","daily_budget":1000,"campaign_status":1,"daily_imps":0,"frequency_cap":0,"frequency_cap_reset_period":0,"start_time":"2013-09-12T11:18:28+0200","updated_time":"2013-09-12T11:18:30+0200","created_time":"2013-09-12T11:18:28+0200","campaign_id":6010888547351},{"id":"6010341807151","account_id":"10150585630710217","name":"Promoting
        \"HAPPY BIRTHDAY, ARNOLD #pumpingandhumping\"","lifetime_budget":1500,"campaign_status":1,"daily_imps":0,"frequency_cap":0,"frequency_cap_reset_period":0,"start_time":"2013-07-31T15:10:27+0200","end_time":"2013-08-01T15:10:27+0200","updated_time":"2013-07-31T15:10:28+0200","created_time":"2013-07-31T15:10:27+0200","campaign_id":6010341807151}],"paging":{"cursors":{"after":"NjAxMDM0MTgwNzE1MQ==","before":"NjAxMDg4ODU0NzM1MQ=="}},"count":2,"limit":100,"offset":0}'
  recorded_at: Thu, 12 Sep 2013 09:22:16 GMT
recorded_with: VCR 2.3.0
