---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/act_367106653/adcampaign_groups?access_token=FAKEACCESSTOKEN&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"74344c922e5b29d4ad0c81cc21d7c136155e3656"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6024300270466"},{"id":"6024300271066"}],"paging":{"cursors":{"before":"NjAyNDMwMDI3MDQ2Ng==","after":"NjAyNDMwMDI3MTA2Ng=="}}}'
  recorded_at: Wed, 15 Apr 2015 08:31:55 GMT
recorded_with: VCR 2.3.0
