---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/act_367106653/adcreatives?access_token=FAKEACCESSTOKEN&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"519ca91275b41e340470774231c7ba9eed88d765"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6024299683866"}],"paging":{"cursors":{"before":"NjAyNDI5OTY4Mzg2Ng==","after":"NjAyNDI5OTY4Mzg2Ng=="}}}'
  recorded_at: Wed, 15 Apr 2015 08:31:56 GMT
recorded_with: VCR 2.3.0
