---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6010889111951/adgroups?access_token=CAAEvJ5vzhl8BAIVQqWQ3rAE1O5XzoJtd8gVN2lxAzj4uluseUzC0yArPZBBIS93QM8u97oFL7dF2LDNfmGEcRk5vPN8O6NdqceZCqFFtZCi1Us7xLOAsClTksNC1owKOxJiy09aDWxspcoJbkwb3ZCqK1o9qtK5EK09bHZAdgPsFIh4ILyRuCgAm4Xgyc1OgZD&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"52dde6c503c699cadc5fb8d0b69a41db05c66dc7"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6010889285151","account_id":"10150585630710217","adgroup_status":4,"bid_info":{"1":1},"bid_type":1,"campaign_id":6010889111951,"conversion_specs":[],"creative_ids":[6010888561951],"impression_control_map":[{"location":3,"control":{"impression_control_type":2,"user_impression_limit":6,"user_impression_limit_period":24,"user_impression_limit_period_unit":0}}],"last_updated_by_app_id":333322143368799,"locations":[3],"name":"Rap
        like me","targeting":{"countries":["US"]},"tracking_specs":[],"updated_time":"2013-09-12T12:40:40+0200","created_time":"2013-09-12T12:40:40+0200","ad_id":6010889285151,"adgroup_id":6010889285151,"max_bid":1,"tracking_pixel_ids":[],"ad_status":4,"start_time":null,"end_time":null}],"paging":{"cursors":{"after":"NjAxMDg4OTI4NTE1MQ==","before":"NjAxMDg4OTI4NTE1MQ=="}},"count":1,"limit":500,"offset":0}'
  recorded_at: Thu, 12 Sep 2013 10:41:55 GMT
recorded_with: VCR 2.3.0
