---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/act_367106653/adcreatives?access_token=DUMMY_TOKEN&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"b10464c294f115ecb7de931a64b7fca56d48725e"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6024299683866"}],"paging":{"cursors":{"before":"NjAyNDI5OTY4Mzg2NgZDZD","after":"NjAyNDI5OTY4Mzg2NgZDZD"}}}'
  recorded_at: Thu, 10 Sep 2015 09:47:27 GMT
recorded_with: VCR 2.3.0
