---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/me/adaccounts?access_token=DUMMY_TOKEN&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"e30da8e35686b2f69655b1c416256e9e8041c655"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"account_id":"367106653","id":"act_367106653"}],"paging":{"cursors":{"before":"NjAwMzM3NDgzNjg2NgZDZD","after":"NjAwMzM3NDgzNjg2NgZDZD"}}}'
  recorded_at: Thu, 10 Sep 2015 09:47:26 GMT
recorded_with: VCR 2.3.0
