---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/6029725594066/ads?access_token=DUMMY_TOKEN&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"4c90be3d95e94dc7eb918a75f7dd9fc412cedc54"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6029725596866"}],"paging":{"cursors":{"before":"NjAyOTcyNTU5Njg2NgZDZD","after":"NjAyOTcyNTU5Njg2NgZDZD"}}}'
  recorded_at: Thu, 10 Sep 2015 09:47:27 GMT
recorded_with: VCR 2.3.0
