---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/act_367106653/campaigns?access_token=DUMMY_TOKEN&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"6f561e19412563a917e48b9fbfc00cf3dd7ad95f"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6029725594066"},{"id":"6029725593266"}],"paging":{"cursors":{"before":"NjAyOTcyNTU5NDA2NgZDZD","after":"NjAyOTcyNTU5MzI2NgZDZD"}}}'
  recorded_at: Thu, 10 Sep 2015 09:47:27 GMT
recorded_with: VCR 2.3.0
