---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6010888547351/adgroups?access_token=CAAEvJ5vzhl8BACAx0zfP8gdDgQQifhVnaIqAdn2gzdJD7uEaJcfUvCzzhhDEsrDULiaKpDErxdTldZAfhMgNVLZAmnJ9ZANPHM8jeAEqpXAvK4CoAyBatH8Af58Ry1gTUjAnv5xZBwU5sKx4Kzkf6jqpFNj96HoDsBKPtOghiddiiqUy55JUFXGXaAImWj8ZD&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"fe1523292063e7d4aeea670098edef6fe4c189e9"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6010888562351","account_id":"10150585630710217","adgroup_status":4,"bid_info":{"1":1},"bid_type":1,"campaign_id":6010888547351,"conversion_specs":[],"creative_ids":[6010888561951],"impression_control_map":[{"location":3,"control":{"impression_control_type":2,"user_impression_limit":6,"user_impression_limit_period":24,"user_impression_limit_period_unit":0}}],"last_updated_by_app_id":333322143368799,"locations":[3],"name":"Rap
        like me","targeting":{"countries":["US"]},"tracking_specs":[],"updated_time":"2013-09-12T11:19:47+0200","created_time":"2013-09-12T11:19:47+0200","ad_id":6010888562351,"adgroup_id":6010888562351,"max_bid":1,"tracking_pixel_ids":[],"ad_status":4,"start_time":null,"end_time":null}],"paging":{"cursors":{"after":"NjAxMDg4ODU2MjM1MQ==","before":"NjAxMDg4ODU2MjM1MQ=="}},"count":1,"limit":500,"offset":0}'
  recorded_at: Thu, 12 Sep 2013 09:22:17 GMT
recorded_with: VCR 2.3.0
