---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/me/adaccounts?access_token=FAKEACCESSTOKEN&fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"bd8f2b4cf7220fac541903b485b41f60702c1adc"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"account_id":"367106653","id":"act_367106653"}],"paging":{"cursors":{"before":"NjAwMzM3NDgzNjg2Ng==","after":"NjAwMzM3NDgzNjg2Ng=="}}}'
  recorded_at: Wed, 15 Apr 2015 08:31:55 GMT
recorded_with: VCR 2.3.0
