---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/6005950787751/adgroups?access_token=AAAEvJ5vzhl8BAG3qjJXGVUVKTzjMLrirxcVxllKJdthkQrEstIgXzMYZAAzg0ETsCGMGmX9UvUh4ZCGvATX9ZCnjNee18OTtQ9ZAarrDBQZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "invalid_token" "Error validating access token:
        Session has expired at unix time 1343822400. The current unix time is 1345558203."'
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"Error validating access token: Session has expired
        at unix time 1343822400. The current unix time is 1345558203.","type":"OAuthException","code":190,"error_subcode":463}}'
  recorded_at: Tue, 21 Aug 2012 14:10:04 GMT
- request:
    method: get
    uri: https://graph.facebook.com/6005950787751/adgroups?access_token=AAAEvJ5vzhl8BABhTSazJZB2D0B4N0l242VX22Hg9J2WZA7fptcAztfXxfAZB9mhZB6W1nl5dz5tXMlb9DJk9ibs6RqtP7PtO6a3XCiHWVwZDZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"def1419d88168e6200c58dbb0813481fb54acd0f"'
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"adgroup_id":6005950791151,"ad_id":6005950791151,"campaign_id":6005950787751,"name":"Rap
        like me","adgroup_status":1,"bid_type":1,"max_bid":"1","bid_info":{"1":"1"},"ad_status":1,"locations":[3],"impression_control_map":[{"location":3,"control":{"impression_control_type":2,"user_impression_limit":6,"user_impression_limit_period":24,"user_impression_limit_period_unit":0}}],"account_id":"10150585630710217","id":"6005950791151","creative_ids":[6005851371551],"targeting":{"countries":["US"],"friends_of_connections":[{"id":"6005851366351","name":null}]},"conversion_specs":[{"action.type":"like","post":"10150420410887685"}],"start_time":null,"end_time":null,"updated_time":"2012-08-21T14:08:34+0000","created_time":"2012-08-21T14:05:55+0000"}],"count":1,"limit":500,"offset":0,"include_deleted":null}'
  recorded_at: Tue, 21 Aug 2012 14:10:56 GMT
recorded_with: VCR 2.2.4
