---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/act_1384977038406122/reachestimate?access_token=CAAEvJ5vzhl8BAPGZCZCPL4FxryEHXGxPCuCGeqe3PEWIjhIvJ00HB8PPpokFmUkemvmEUHirqdNMc7zIDLSTVnX6jTQjAgSlzcYrAYJRQ32fr6RM5ZAnKPdgFEwN5tgvswatXZAI4vu7ZBAQexRl9MU0CpwW7JDDBZAGo5XDrCKrBxkUUWJUvh&targeting_spec=%7B%22geo_locations%22:%7B%22countries%22:%5B%22US%22%5D%7D,%22interests%22:%5B%7B%22id%22:%226003504886186%22,%22name%22:%22Sting%20(musician)%22%7D%5D,%22age_min%22:13,%22age_max%22:24,%22genders%22:%5B2%5D,%22countries%22:%5B%5D,%22connections%22:%5B%5D,%22broad_age%22:false%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - ! '"3af0f7e765b8380f2a723302f594d583fde67beb"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"users":220000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":30,"cpa_median":58,"cpa_max":83,"cpc_min":15,"cpc_median":28,"cpc_max":39,"cpm_min":101,"cpm_median":270,"cpm_max":427}],"estimate_ready":true,"data":{"users":220000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":30,"cpa_median":58,"cpa_max":83,"cpc_min":15,"cpc_median":28,"cpc_max":39,"cpm_min":101,"cpm_median":270,"cpm_max":427}],"estimate_ready":true}}'
  recorded_at: Wed, 17 Dec 2014 13:24:54 GMT
recorded_with: VCR 2.3.0
