---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/search?access_token=DUMMY_TOKEN&q=Eminem&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"99dacd26b80551044d5f6dfe94706a9ba419bf3d"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"data":[{"id":"6003135347608","name":"Eminem","audience_size":108684220,"path":[],"description":null,"topic":"People"},{"id":"6003170652434","name":"eminem","audience_size":75072420,"path":[],"description":null,"topic":"News
        and entertainment"},{"id":"6003489780564","name":"Recovery (Eminem album)","audience_size":74537730,"path":[],"description":null,"topic":"News
        and entertainment"},{"id":"6003250214311","name":"The Eminem Show","audience_size":74333480,"path":[],"description":null,"topic":"News
        and entertainment"},{"id":"6004596403706","name":"eminem fans","audience_size":1183330,"path":[],"description":null,"topic":"News
        and entertainment"},{"id":"6003291289702","name":"eminem lovers","audience_size":1030710,"path":[],"description":null},{"id":"6017042219356","name":"eminem
        forever blog","audience_size":753610,"path":[],"description":null,"topic":"News
        and entertainment"},{"id":"6003455354537","name":"eminem world","audience_size":644310,"path":[],"description":null}]}'
  recorded_at: Thu, 10 Sep 2015 09:47:15 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/search?access_token=DUMMY_TOKEN&q=invalidsssssssssssssss&type=adinterest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"1050253aec7b29caff644806927dabfa81406eee"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"data":[]}'
  recorded_at: Thu, 10 Sep 2015 09:47:15 GMT
recorded_with: VCR 2.3.0
