---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.2/act_1384977038406122/reachestimate?access_token=CAAEvJ5vzhl8BAPGZCZCPL4FxryEHXGxPCuCGeqe3PEWIjhIvJ00HB8PPpokFmUkemvmEUHirqdNMc7zIDLSTVnX6jTQjAgSlzcYrAYJRQ32fr6RM5ZAnKPdgFEwN5tgvswatXZAI4vu7ZBAQexRl9MU0CpwW7JDDBZAGo5XDrCKrBxkUUWJUvh&targeting_spec=%7B%22geo_locations%22:%7B%22countries%22:%5B%22US%22%5D%7D,%22interests%22:%5B%7B%22id%22:%226003135347608%22,%22name%22:%22Eminem%22%7D,%7B%22id%22:%226003504886186%22,%22name%22:%22Sting%20(musician)%22%7D%5D,%22age_min%22:13,%22countries%22:%5B%5D,%22connections%22:%5B%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"5e5f478f982b8835672a34f685ab1a3ced1da9ac"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: US-ASCII
      string: ! '{"users":36000000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":17,"cpa_median":34,"cpa_max":47,"cpc_min":7,"cpc_median":14,"cpc_max":19,"cpm_min":140,"cpm_median":345,"cpm_max":503}],"estimate_ready":true,"data":{"users":36000000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":17,"cpa_median":34,"cpa_max":47,"cpc_min":7,"cpc_median":14,"cpc_max":19,"cpm_min":140,"cpm_median":345,"cpm_max":503}],"estimate_ready":true}}'
  recorded_at: Tue, 31 Mar 2015 15:11:51 GMT
recorded_with: VCR 2.3.0
