---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/act_10150585630710217/reachestimate?access_token=CAAEvJ5vzhl8BACAx0zfP8gdDgQQifhVnaIqAdn2gzdJD7uEaJcfUvCzzhhDEsrDULiaKpDErxdTldZAfhMgNVLZAmnJ9ZANPHM8jeAEqpXAvK4CoAyBatH8Af58Ry1gTUjAnv5xZBwU5sKx4Kzkf6jqpFNj96HoDsBKPtOghiddiiqUy55JUFXGXaAImWj8ZD&targeting_spec=%7B%22countries%22:%5B%22US%22%5D,%22keywords%22:%5B%22Eminem%22,%22Sting%22%5D,%22age_min%22:13,%22connections%22:%5B%5D,%22broad_age%22:false%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"c05d80199194ec82a998f961bd55daf4332308cd"'
    body:
      encoding: US-ASCII
      string: ! '{"users":17800000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":215,"cpa_median":393,"cpa_max":526,"cpc_min":40,"cpc_median":65,"cpc_max":85,"cpm_min":6,"cpm_median":23,"cpm_max":222}],"estimate_ready":true,"imp_estimates":[],"min_reach":null,"max_reach":null,"data":{"users":17800000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":215,"cpa_median":393,"cpa_max":526,"cpc_min":40,"cpc_median":65,"cpc_max":85,"cpm_min":6,"cpm_median":23,"cpm_max":222}],"estimate_ready":true,"imp_estimates":[],"min_reach":null,"max_reach":null}}'
  recorded_at: Thu, 12 Sep 2013 09:22:14 GMT
recorded_with: VCR 2.3.0
