---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/act_367106653/reachestimate?access_token=DUMMY_TOKEN&targeting_spec=%7B%22geo_locations%22:%7B%22countries%22:%5B%22US%22%5D%7D,%22interests%22:%5B%7B%22id%22:%226003135347608%22,%22name%22:%22Eminem%22%7D,%7B%22id%22:%226003504886186%22,%22name%22:%22Sting%20(musician)%22%7D%5D,%22age_min%22:13,%22countries%22:%5B%5D,%22connections%22:%5B%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"519aa02a80363d7d8946d9cc1c6ce3494e41b5dc"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"users":31000000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":47,"cpa_median":88,"cpa_max":130,"cpc_min":16,"cpc_median":28,"cpc_max":39,"cpm_min":109,"cpm_median":284,"cpm_max":454}],"estimate_ready":true,"data":{"users":31000000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":47,"cpa_median":88,"cpa_max":130,"cpc_min":16,"cpc_median":28,"cpc_max":39,"cpm_min":109,"cpm_median":284,"cpm_max":454}],"estimate_ready":true}}'
  recorded_at: Thu, 10 Sep 2015 09:47:17 GMT
recorded_with: VCR 2.3.0
