---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/act_10150585630710217/reachestimate?access_token=CAAEvJ5vzhl8BAH8aCPOx0Ft9uNB147TF8weJ8hK0g7YVDRWU4eEih7tEKdJgmfk0vABZClZACJbEzyhSMbiShL6RpsfkZASfX1C9nv1AlFvjJajflqkyYZAlpE2edT0FJHjdh4NFg0ZCt0sBgq0kZABtKsjuU18aMURLE7rjKHR4X8NkXBUafg1T4uZARRNqboZD&targeting_spec=%7B%22countries%22:%5B%22US%22%5D,%22keywords%22:%5B%22Eminem%22,%22Sting%22%5D,%22age_min%22:13,%22connections%22:%5B%5D,%22broad_age%22:false%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"d4e157533ce2d596ce60a9ceaa8822a2ba52d345"'
    body:
      encoding: US-ASCII
      string: ! '{"users":17800000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":216,"cpa_median":384,"cpa_max":520,"cpc_min":40,"cpc_median":64,"cpc_max":84,"cpm_min":6,"cpm_median":22,"cpm_max":216}],"estimate_ready":true,"imp_estimates":[],"min_reach":null,"max_reach":null,"data":{"users":17800000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":216,"cpa_median":384,"cpa_max":520,"cpc_min":40,"cpc_median":64,"cpc_max":84,"cpm_min":6,"cpm_median":22,"cpm_max":216}],"estimate_ready":true,"imp_estimates":[],"min_reach":null,"max_reach":null}}'
  recorded_at: Thu, 12 Sep 2013 12:10:11 GMT
recorded_with: VCR 2.3.0
