---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.4/act_367106653/reachestimate?access_token=DUMMY_TOKEN&targeting_spec=%7B%22geo_locations%22:%7B%22countries%22:%5B%22US%22%5D%7D,%22interests%22:%5B%7B%22id%22:%226003504886186%22,%22name%22:%22Sting%20(musician)%22%7D%5D,%22age_min%22:13,%22age_max%22:24,%22genders%22:%5B2%5D,%22countries%22:%5B%5D,%22connections%22:%5B%5D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - ! '"c75d411662859aafcc2efa45b9fbb378fde706e5"'
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: US-ASCII
      string: ! '{"users":63000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":36,"cpa_median":69,"cpa_max":97,"cpc_min":12,"cpc_median":22,"cpc_max":30,"cpm_min":75,"cpm_median":188,"cpm_max":305}],"estimate_ready":true,"data":{"users":63000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":36,"cpa_median":69,"cpa_max":97,"cpc_min":12,"cpc_median":22,"cpc_max":30,"cpm_min":75,"cpm_median":188,"cpm_max":305}],"estimate_ready":true}}'
  recorded_at: Thu, 10 Sep 2015 09:47:18 GMT
recorded_with: VCR 2.3.0
