---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/act_1384977038406122/reachestimate?access_token=CAAEvJ5vzhl8BAPGZCZCPL4FxryEHXGxPCuCGeqe3PEWIjhIvJ00HB8PPpokFmUkemvmEUHirqdNMc7zIDLSTVnX6jTQjAgSlzcYrAYJRQ32fr6RM5ZAnKPdgFEwN5tgvswatXZAI4vu7ZBAQexRl9MU0CpwW7JDDBZAGo5XDrCKrBxkUUWJUvh&targeting_spec=%7B%22geo_locations%22:%7B%22countries%22:%5B%22US%22%5D%7D,%22interests%22:%5B%22Sting%22%5D,%22age_min%22:13,%22age_max%22:24,%22genders%22:%5B2%5D,%22countries%22:%5B%5D,%22connections%22:%5B%5D,%22broad_age%22:false%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "invalid_request" "(#1487703) Invalid Interests
        Targeting: You have selected invalid interests.,Invalid Interests Targeting:
        You have selected invalid interests."'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"(#1487703) Invalid Interests Targeting: You
        have selected invalid interests.,Invalid Interests Targeting: You have selected
        invalid interests.","type":"OAuthException","code":1487703,"error_data":{"showable_errors":["Invalid
        Interests Targeting: You have selected invalid interests.","Invalid Interests
        Targeting: You have selected invalid interests."]}}}'
  recorded_at: Tue, 22 Apr 2014 13:31:36 GMT
- request:
    method: get
    uri: https://graph.facebook.com/act_1384977038406122/reachestimate?access_token=CAAEvJ5vzhl8BAPGZCZCPL4FxryEHXGxPCuCGeqe3PEWIjhIvJ00HB8PPpokFmUkemvmEUHirqdNMc7zIDLSTVnX6jTQjAgSlzcYrAYJRQ32fr6RM5ZAnKPdgFEwN5tgvswatXZAI4vu7ZBAQexRl9MU0CpwW7JDDBZAGo5XDrCKrBxkUUWJUvh&targeting_spec=%7B%22geo_locations%22:%7B%22countries%22:%5B%22US%22%5D%7D,%22interests%22:%5B%22Sting%20(musician)%22%5D,%22age_min%22:13,%22age_max%22:24,%22genders%22:%5B2%5D,%22countries%22:%5B%5D,%22connections%22:%5B%5D,%22broad_age%22:false%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"535b11b3cffda3c65a081209ee4ddf3835e6f914"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"users":74000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":10,"cpa_median":15,"cpa_max":20,"cpc_min":9,"cpc_median":14,"cpc_max":18,"cpm_min":6,"cpm_median":17,"cpm_max":136}],"estimate_ready":true,"imp_estimates":[],"data":{"users":74000,"bid_estimations":[{"unsupported":false,"location":3,"cpa_min":10,"cpa_median":15,"cpa_max":20,"cpc_min":9,"cpc_median":14,"cpc_max":18,"cpm_min":6,"cpm_median":17,"cpm_max":136}],"estimate_ready":true,"imp_estimates":[]}}'
  recorded_at: Tue, 22 Apr 2014 14:20:20 GMT
recorded_with: VCR 2.3.0
